.chat-container {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

@media only screen and (max-width: 600px) {
  .message {
    font-size: 16px;
  }
}

.msgA {
  background-color: #FFF2CC;
  align-self: flex-start;
  background-image: url('tb.gif');
  background-repeat: no-repeat;
  background-position: left top;  
  font-family: Calibri, Arial, sans-serif;
}

.msgB {
  background-color: #e6e6e6;
  align-self: flex-end;
  background-image: url('pi.gif');
  background-repeat: no-repeat;
  background-position: left top;  
  font-family: Calibri, Arial, sans-serif;
}

.msgBHtml {
  background-color: #000000;
  font-family: Courier New, Arial, sans-serif;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  align-self: flex-end;
  width: auto;
  display: inline-block;
  min-width: 200px;
}


/* Styles for desktop devices */
@media screen and (min-width: 768px) {
   .header {
   background-color: #333;
   color: #fff;
   padding: 20px;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   font-family: Calibri, Arial, sans-serif;
   }
}

/* Styles for mobile devices */
@media screen and (max-width: 767px) {
   .header {
   background-color: #333;
   color: #fff;
   padding: 10px;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   font-family: Calibri, Arial, sans-serif;
   }

   .msgBHtml {
      font-size: 14px;
   }
   
}